In [ ]:
#Exercise 1: Write a function to sort the list based on the first letter of the second element
lst=[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]

In [22]:
def Sort(sub_li):

    sub_li.sort(key = lambda x: x[1])
    return sub_li
  
sub_li =[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]
print(Sort(sub_li))

[(4887871, 'Alabama'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont'), (1805832, 'West Virginia')]

In [ ]:
#Exercise 2 Write a function to sort the list based on the last letter of the second element

In [3]:
def Sort(sub_li):

    sub_li.sort(key = lambda x: x[1][-1])
    return sub_li
  
# Driver Code
sub_li =[(19542209, "New York") ,(4887871, "Alabama"), (1420491, "Hawaii"), (626299, "Vermont"), (1805832, "West Virginia"), (39865590, "California")]
print(Sort(sub_li))

[(4887871, 'Alabama'), (1805832, 'West Virginia'), (39865590, 'California'), (1420491, 'Hawaii'), (19542209, 'New York'), (626299, 'Vermont')]

In [ ]:
#Exercise 3: Create a range from 1 to 8 merge the given list and together to create a new list of tuples.

In [49]:
lst=[]
for i in range(1,8):
    lst.append(i)
print(lst)

[1, 2, 3, 4, 5, 6, 7]

In [50]:
def merge(list1, list2):
      
    merged_list = [(list1[i], list2[i]) for i in range(0, len(lst1))]
    return merged_list

lst1=["Energy", "Agriculture", "Industry", "Technology", "Finance", "Forestry", "Transport"]

In [51]:

print(merge(lst1,lst))

[('Energy', 1), ('Agriculture', 2), ('Industry', 3), ('Technology', 4), ('Finance', 5), ('Forestry', 6), ('Transport', 7)]

In [81]:
#Exercise 4: Write a function and create a list consisted of the number of occurence of letter: a (all a's).
lst1=["Antartica", "America", "Armania", "Australia", "Albania", "Afganistan","Alaska"]

In [82]:
for i in range(len(lst1)):

    lst1[i] = lst1[i].lower()

In [83]:
print(lst1)

['antartica', 'america', 'armania', 'australia', 'albania', 'afganistan', 'alaska']

In [84]:
for i in range(len(lst1)):

    lst1[i] = lst1[i].count('a') #count() function is used to count no of occurences

In [85]:
lst1

[3, 2, 3, 3, 3, 3, 3]

In [91]:
#Exercise 5: Write a function filter all the vowels in a given string using filter.
str1="Inceptz is one of the best institutes to read data science in chennai"

In [ ]:
(filter function ques)

In [13]:
#Exercise 6: Write a function to create a list as the square of elements from the given list if the square is greater than 60
lst1=[5, 6, 7 , 8, 9, 10, 12, 14]

In [14]:
lst1 = list(map(lambda x: x**2 ,lst1))
lst1

[25, 36, 49, 64, 81, 100, 144, 196]

In [20]:
lst1 = [i for i in lst1 if i > 60]

In [21]:
lst1

[64, 81, 100, 144, 196]

In [ ]:
#Exercise 7: take the words given below as list and write a function and use reduce to make it a sentence

In [ ]:
(reduce function)