In [ ]:
Exercise 1:
A =[1,2,3,4,5,6,7,8,9]
#Return a list that add 1 to each element and return a list B using while loop

In [9]:
A =[1,2,3,4,5,6,7,8,9]
B= []
i=0
while i < len(A) :
    B.append(A[i]+1)
    i=i+1
print(B)

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#Exercise 2 : 
Write a program to find the numbers that are divisible by 7 and is a multiple of 5, 
Between the range 1500 and 2700 (both included)

O/p: 1505, 1540,1575.............................2660,2695

In [1]:
i =1500
while i <= 2700 :
    if i%7 == 0 and i%5==0 :
        print(i)
    i=i+1

1505
1540
1575
1610
1645
1680
1715
1750
1785
1820
1855
1890
1925
1960
1995
2030
2065
2100
2135
2170
2205
2240
2275
2310
2345
2380
2415
2450
2485
2520
2555
2590
2625
2660
2695

In [ ]:
#Exercise 3 : Write a pgm to construct the following pattern using nested 'for' loop
    
*
* *
* * *
* * * * 
* * * * *
* * * *
* * *
* *
*

In [6]:
n = 5
for i in range(0,n) :
    for j in range(0,i+1) :
        print("* ",end=" ")
    print("")
for i in range(n,0,-1) :
    for j in range(0,i-1) :
        print("* ",end=" ")
    print("")

*
*  *
*  *  *
*  *  *  *
*  *  *  *  *
*  *  *  *
*  *  *
*  *
*

In [36]:

#Exercise 4 Write a function that takes in list as input and returns the sum of the list as o/p

def sum_list(A):
    result=0
    for i in A:
        result=result+i
    return result

In [38]:
sum_list([5,4,9,11])

29

In [33]:
#Exercise 5
#Write a program for 5 factorial

def fact(n) :
    if n ==0 or n==1 :
        return 1
    else :
        return n*fact(n-1)

In [35]:
fact(5)

120

In [34]:
#Exercise 6
#Write a Python program to count the number of even and odd numbers from a series of numbers.

In [50]:
def oddeven(A) :
    j=0
    k=0
    for i in A:
        if(i%2==0) :
            j=j+1
        elif i%2!=0:
            k=k+1
    print("No of even numbers is:",j)
    print("No of odd numbers is:",k)

In [53]:
oddeven([2,5,6,9,8,12,14])

No of even numbers is: 5
No of odd numbers is: 2

In [ ]:
 #Exercise 7
    Write a Python program to find numbers between 100 and 400 (both included) 
where each digit of a number is an even number. The numbers obtained should be printed in a comma-separated sequence.

In [2]:
digit = []
for i in range(100,401):
    s = str(i)
    if (int(s[0])%2==0) and (int(s[1])%2==0) and (int(s[2])%2==0):
        digit.append(s)
print( ",".join(digit))

200,202,204,206,208,220,222,224,226,228,240,242,244,246,248,260,262,264,266,268,280,282,284,286,288,400

In [8]:
s=str(100)
s

'100'

In [9]:
s[0]

'1'

In [ ]:
#Exercise 8
Write a Python program to calculate a dog's age in dog's years. Go to the editor\n",
    "Note: For the first two years, a dog year is equal to 10.5 human years. 
    After that, each dog year equals 4 human years."
    
    (cannot understand)

In [16]:
#Exercise 9 Write a Python function to find the Max of three numbers.
def maxnum(a,b,c):
       num=max(a,b,c)
       return num

In [18]:
maxnum(43,68,98)

98

In [ ]:
#Exercise 10 Write a Python function that takes a number as a parameter and check the number is prime or not.

In [52]:
def prime_fun(d):
    if d==0 or d==1:
        return False
    for i in range(2,int(d/2)+1):
        if(d%i==0):
            return False
    else :
        return True

In [53]:
prime_fun(7)

True

In [44]:
int(5/2)

2

In [ ]:
#Exercise 11 :Write a Python function that accepts a string 
and calculate the number of upper case letters and lower case letters.

In [ ]:
string=str(input("Enter the string :"))
d={"UPPER_CASE":0, "LOWER_CASE":0}
for i in a :
    if i.isupper() :
            d["UPPER_CASE"]+=1
            print("No of upper cases letters :",d["UPPER_CASE"])
    elif i.islower() :
            d["LOWER_CASE"]+=1
            print("No of lower cases letters :",d["LOWER_CASE"])
    else :
        pass